@tailwind base;
@tailwind components;
@tailwind utilities;

* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.sectionHoliday {
  background: linear-gradient(to bottom right, #75aadb 50%, white 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.nextHoliday, .pastHoliday, .futureHoliday, .listDiv  {
  background: rgba(0, 0, 0, 0.8);
}

.nextHoliday {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 30vh;
}

.mainTitle {
  color: white;
  font-size: 2rem;
  margin: 0.5rem auto;
  font-weight: 600;
}

.subTitle {
  color: white;
  font-size: 1.4rem;
  margin: 0.5rem auto;
  text-align: center;
  font-weight: 600;
}

.infoText {
  color: white;
  font-size: 1.1rem;
  margin: 0.5rem auto;
  text-align: center;
}

.dateSpan{
  color: #75aadb;
  font-weight: 600;
 }

.pastFuture {
  display: flex;
  gap: 1rem;
  margin: 0 auto 2rem auto;
  justify-content: center;
  height: 20vh;
  align-items: center;
  
}

.pastHoliday, .futureHoliday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding: 0.5rem;
}

.pastHoliday {
  border-radius: 0px 0px 32px 0px; 
}

.futureHoliday {
  border-radius: 0px 0px 0px 32px; 
}

.listDiv {
  width: 91%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  height: 15vh;

}

.listHoliday {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem
}

.divisor {
  font-weight: 600;
  color: #75aadb;
}

.infoTextList  {
  color: white;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  text-align: center;
}

.footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 10vh;
  background-color: black;
}

a {
  width: 2rem;
  height: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (768px <= width <= 1080px) {
  .nextHoliday {
    width: 65%;
  }

  .pastHoliday, .futureHoliday {
    min-height: 25vh;
  }

  .pastFuture {
    height: 25vh;
  }
  
  .listHoliday {
    gap: 0.1rem
  }

  .infoTextList  {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
}

@media (640px <= width <= 768px) {
  .nextHoliday {
    width: 92%;
    height: 26vh;
  }

  .pastFuture {
    height: 30vh;
  }
  
  .pastHoliday, .futureHoliday {
    min-height: 30vh;
  }
  
  .listDiv {
    width: 92%;
    padding: 0.5rem 0.2rem;
    margin: 0 auto;
    height: 16vh;
  
  }

  .listHoliday {
    gap:0 0.1rem;
    padding: 0;
  }

  .infoTextList  {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  
}

@media (width < 640px) {
  .nextHoliday {
    width: 94%;
  }

  .mainTitle {
    font-size: 1.3rem;
  }

  .subTitle{
    font-size: 1.1rem;
    padding: 0 0.1rem;
  }

  .infoText {
    font-size: 1rem;
    margin: 0.3rem 0.1rem;
  }

  .pastFuture {
    height: 34vh;
  }

  .pastHoliday, .futureHoliday {
    min-height: 34vh;
  }
  
  .listDiv {
    width: 92%;
    padding: 0.5rem 0.2rem;
    margin: 0 auto 1rem auto;
    height: 14vh;
  
  }

  .listHoliday {
    gap:0 0.1rem;
    padding: 0;
  }

  .infoTextList  {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .footer {
    height: 8vh;
  }
  
}